body {
    background-color: lightblue !important;
}

div {
    width: 500px;
}

#currentPlayer {
  font-size: 1.25em; /* 40px/16=2.5em */
}

#forcedJump {
  font-size: 1.25em; /* 40px/16=2.5em */
}

#gameStatus {
  border: 2px solid black;
}

#emailSection {
  border: 2px solid black;
}

#instructions {
  border: 2px solid black;
}

#checkerboard {
  border: 2px solid black;
  z-axis: -20;
}

#boardset {
  position: relative;
}

#gameRecordDiv {
  border: 2px solid black;
  height: 150px;
  overflow: scroll;
}

canvas {
  position: relative;
}

.checker {
  position: absolute;
}

.jumpAvailable {
  border:1px solid #021a40;
}

.container div {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}