body {
    background-color: lightblue !important;
}

div {
    width: 500px;
}

#checkerboard {
  border: 2px solid black;
  z-axis: -20;
}

#boardset {
  position: relative;
}

canvas {
  position: relative;
}

.checker {
  position: absolute;
}

.jumpAvailable {
  border:1px solid #021a40;
}

.container div {
    margin: 0 auto;
}